In [1]:
# Import the required modules
import pandas as pd
pd.set_option('display.max_columns', None)
import numpy as np
from pathlib import Path
from warnings import simplefilter
simplefilter(action='ignore', category=FutureWarning)

# visualization
import matplotlib.pyplot as plt
import seaborn as sns

# Machine Learning
from sklearn.model_selection import train_test_split

# Algorithms
from sklearn.linear_model import LinearRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.ensemble import AdaBoostClassifier
from sklearn.cluster import KMeans, AgglomerativeClustering, Birch
from sklearn.metrics import silhouette_score, calinski_harabasz_score
from sklearn.preprocessing import StandardScaler
from sklearn.manifold import TSNE
from xgboost import XGBClassifier
from lightgbm import LGBMClassifier

# Metrics
from sklearn.metrics import confusion_matrix, classification_report
from sklearn.metrics import roc_curve, roc_auc_score, mean_squared_error, mean_absolute_error, r2_score, confusion_matrix, accuracy_score, classification_report

# Preprocessing
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA

# suppress warnings
import warnings
warnings.filterwarnings('ignore')

In [2]:
#See what is in the first dataset containing red wines
df_red = pd.read_csv("wine_quality.csv")
df_red.head()

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [3]:
#See what is in the second dataset containg white wines
df_white = pd.read_csv("winequality-white.csv")
df_white.head()

  fixed acidity;"volatile acidity";"citric acid";"residual sugar";"chlorides";"free sulfur dioxide";"total sulfur dioxide";"density";"pH";"sulphates";"alcohol";"quality"
0   7;0.27;0.36;20.7;0.045;45;170;1.001;3;0.45;8.8;6
1  6.3;0.3;0.34;1.6;0.049;14;132;0.994;3.3;0.49;9...
2  8.1;0.28;0.4;6.9;0.05;30;97;0.9951;3.26;0.44;1...
3  7.2;0.23;0.32;8.5;0.058;47;186;0.9956;3.19;0.4...
4  7.2;0.23;0.32;8.5;0.058;47;186;0.9956;3.19;0.4...

In [4]:
#Clean up white wine data to be in the same format as dataset one
df_white = pd.read_csv("winequality-white.csv",sep=";",header=0)
df_white.columns=[x.replace(" ","_") for x in df_white.columns]
df_white.head()

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol,quality
0,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.0010,3.00,0.45,8.8,6
1,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.9940,3.30,0.49,9.5,6
2,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.9951,3.26,0.44,10.1,6
3,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6
4,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6

In [5]:
#Check column names of red and white wine data sets to make sure they are the same
df_red.columns

Index(['fixed_acidity', 'volatile_acidity', 'citric_acid', 'residual_sugar',
       'chlorides', 'free_sulfur_dioxide', 'total_sulfur_dioxide', 'density',
       'pH', 'sulphates', 'alcohol', 'quality'],
      dtype='object')

In [6]:
df_white.columns

Index(['fixed_acidity', 'volatile_acidity', 'citric_acid', 'residual_sugar',
       'chlorides', 'free_sulfur_dioxide', 'total_sulfur_dioxide', 'density',
       'pH', 'sulphates', 'alcohol', 'quality'],
      dtype='object')

In [7]:
#Added wine type column in first dataset to label all of these wines red
df_red["wine_type"]="red"
df_red.head()

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol,quality,wine_type
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,red
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5,red
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5,red
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6,red
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,red

In [8]:
#Added wine type column in second dataset to label all of these wines white
df_white["wine_type"]="white"
df_white.head()

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol,quality,wine_type
0,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.0010,3.00,0.45,8.8,6,white
1,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.9940,3.30,0.49,9.5,6,white
2,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.9951,3.26,0.44,10.1,6,white
3,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6,white
4,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6,white

In [9]:
#Combining the first and second dataset of red and white wines
pd.concat([df_red, df_white], ignore_index=True)

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol,quality,wine_type
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5,red
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,5,red
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,5,red
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,6,red
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5,red
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6492,6.2,0.21,0.29,1.6,0.039,24.0,92.0,0.99114,3.27,0.50,11.2,6,white
6493,6.6,0.32,0.36,8.0,0.047,57.0,168.0,0.99490,3.15,0.46,9.6,5,white
6494,6.5,0.24,0.19,1.2,0.041,30.0,111.0,0.99254,2.99,0.46,9.4,6,white
6495,5.5,0.29,0.30,1.1,0.022,20.0,110.0,0.98869,3.34,0.38,12.8,7,white
6496,6.0,0.21,0.38,0.8,0.020,22.0,98.0,0.98941,3.26,0.32,11.8,6,white

In [10]:
#Name new combined data frame
df_combined = pd.concat([df_red, df_white], ignore_index=True)

In [11]:
#Export to csv file for Tableau
df_combined.to_csv("combined_datasets.csv")

In [12]:
#Verify wine_type column and it has the same count as the rest
df_combined.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6497 entries, 0 to 6496
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fixed_acidity         6497 non-null   float64
 1   volatile_acidity      6497 non-null   float64
 2   citric_acid           6497 non-null   float64
 3   residual_sugar        6497 non-null   float64
 4   chlorides             6497 non-null   float64
 5   free_sulfur_dioxide   6497 non-null   float64
 6   total_sulfur_dioxide  6497 non-null   float64
 7   density               6497 non-null   float64
 8   pH                    6497 non-null   float64
 9   sulphates             6497 non-null   float64
 10  alcohol               6497 non-null   float64
 11  quality               6497 non-null   int64
 12  wine_type             6497 non-null   object
dtypes: float64(11), int64(1), object(1)
memory usage: 660.0+ KB

In [13]:
#Do we need to scale based on the range?
df_combined.describe()

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol,quality
count,6497.000000,6497.000000,6497.000000,6497.000000,6497.000000,6497.000000,6497.000000,6497.000000,6497.000000,6497.000000,6497.000000,6497.000000
mean,7.215307,0.339666,0.318633,5.443235,0.056034,30.525319,115.744574,0.994697,3.218501,0.531268,10.491801,5.818378
std,1.296434,0.164636,0.145318,4.757804,0.035034,17.749400,56.521855,0.002999,0.160787,0.148806,1.192712,0.873255
min,3.800000,0.080000,0.000000,0.600000,0.009000,1.000000,6.000000,0.987110,2.720000,0.220000,8.000000,3.000000
25%,6.400000,0.230000,0.250000,1.800000,0.038000,17.000000,77.000000,0.992340,3.110000,0.430000,9.500000,5.000000
50%,7.000000,0.290000,0.310000,3.000000,0.047000,29.000000,118.000000,0.994890,3.210000,0.510000,10.300000,6.000000
75%,7.700000,0.400000,0.390000,8.100000,0.065000,41.000000,156.000000,0.996990,3.320000,0.600000,11.300000,6.000000
max,15.900000,1.580000,1.660000,65.800000,0.611000,289.000000,440.000000,1.038980,4.010000,2.000000,14.900000,9.000000

In [14]:
#Creating a copy of data for processing
df_combined2 = df_combined.copy()
df_combined2.head()

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol,quality,wine_type
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,red
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5,red
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5,red
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6,red
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,red

In [15]:
df_combined2.tail()

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol,quality,wine_type
6492,6.2,0.21,0.29,1.6,0.039,24.0,92.0,0.99114,3.27,0.50,11.2,6,white
6493,6.6,0.32,0.36,8.0,0.047,57.0,168.0,0.99490,3.15,0.46,9.6,5,white
6494,6.5,0.24,0.19,1.2,0.041,30.0,111.0,0.99254,2.99,0.46,9.4,6,white
6495,5.5,0.29,0.30,1.1,0.022,20.0,110.0,0.98869,3.34,0.38,12.8,7,white
6496,6.0,0.21,0.38,0.8,0.020,22.0,98.0,0.98941,3.26,0.32,11.8,6,white

In [16]:
#How many wines fall in each quality category
#Looks like a majority fall between 5 & 6 
#(681+638)/1599; 82.5% of data points fall between these two quality ratings
df_combined2.quality.value_counts()

quality
6    2836
5    2138
7    1079
4     216
8     193
3      30
9       5
Name: count, dtype: int64

In [17]:
#We can split the quality into the below categories:
#3 & 4 as low
#5 as medium
#6 as good
#7 & 8 as excelent

In [17]:
#Comb through data to look for any issues that may skew it
df_combined2.fixed_acidity.value_counts()

fixed_acidity
6.8     354
6.6     327
6.4     305
7.0     282
6.9     279
       ...
14.0      1
14.3      1
13.8      1
13.5      1
3.9       1
Name: count, Length: 106, dtype: int64

In [18]:
df_combined2.alcohol.value_counts()

alcohol
9.500000     367
9.400000     332
9.200000     271
10.000000    229
10.500000    227
            ...
11.066667      1
13.566667      1
11.350000      1
14.900000      1
12.050000      1
Name: count, Length: 113, dtype: int64

In [19]:
df_combined2.sulphates.value_counts()

sulphates
0.50    276
0.46    243
0.54    235
0.44    232
0.38    214
       ...
1.11      1
1.12      1
1.61      1
1.09      1
0.23      1
Name: count, Length: 111, dtype: int64

In [20]:
df_combined2.residual_sugar.value_counts()

residual_sugar
2.00     235
1.80     228
1.60     223
1.40     219
1.20     195
        ...
5.95       1
7.45       1
65.80      1
14.05      1
18.40      1
Name: count, Length: 316, dtype: int64

In [21]:
#What are the stats on fixed_acidity values and the quality category they fall under
#Quality falls between 5 & 6 when the fixed_acidity ranges between 3.8 and 15.9
#Lower quality wines seem to have fixed_acidity between 4.6 and 12.5
#Higher qulity wines seem to have fixed_acidity between 3.9 and 12.6
df_combined2.groupby("quality").fixed_acidity.describe()

          count      mean       std  min  25%   50%    75%   max
quality
3          30.0  7.853333  1.747853  4.2  6.8  7.45  8.575  11.8
4         216.0  7.288889  1.264825  4.6  6.4  7.00  8.000  12.5
5        2138.0  7.326801  1.260002  4.5  6.5  7.10  7.800  15.9
6        2836.0  7.177257  1.291191  3.8  6.4  6.90  7.600  14.3
7        1079.0  7.128962  1.372141  4.2  6.3  6.90  7.400  15.6
8         193.0  6.835233  1.147235  3.9  6.2  6.80  7.300  12.6
9           5.0  7.420000  0.983362  6.6  6.9  7.10  7.400   9.1

In [22]:
#Looks like high quality wine (8) has sulphate value between 0.25 and 1.10
df_combined2.groupby("quality").sulphates.describe()

          count      mean       std   min     25%    50%    75%   max
quality
3          30.0  0.506333  0.126994  0.28  0.4075  0.505  0.565  0.86
4         216.0  0.505648  0.164434  0.25  0.4000  0.485  0.570  2.00
5        2138.0  0.526403  0.141648  0.27  0.4400  0.500  0.580  1.98
6        2836.0  0.532549  0.146741  0.23  0.4300  0.510  0.600  1.95
7        1079.0  0.547025  0.160436  0.22  0.4300  0.520  0.640  1.36
8         193.0  0.512487  0.165891  0.25  0.3800  0.480  0.600  1.10
9           5.0  0.466000  0.092628  0.36  0.4200  0.460  0.480  0.61

In [23]:
#This kind of looks like the higher the alcohol rating, the higher the quality score
df_combined2.groupby("quality").alcohol.describe()

          count       mean       std   min     25%    50%   75%   max
quality
3          30.0  10.215000  1.106497   8.0   9.625  10.15  11.0  12.6
4         216.0  10.180093  0.985923   8.4   9.400  10.00  10.9  13.5
5        2138.0   9.837783  0.814416   8.0   9.300   9.60  10.3  14.9
6        2836.0  10.587553  1.126491   8.4   9.600  10.50  11.4  14.0
7        1079.0  11.386006  1.199337   8.6  10.625  11.40  12.3  14.2
8         193.0  11.678756  1.278921   8.5  11.000  12.00  12.6  14.0
9           5.0  12.180000  1.013410  10.4  12.400  12.50  12.7  12.9

In [24]:
df_combined2.groupby("quality").residual_sugar.describe()

          count      mean       std  min   25%   50%   75%    max
quality
3          30.0  5.140000  4.730721  0.7  1.65  3.15  7.80  16.20
4         216.0  4.153704  3.812136  0.7  1.40  2.20  5.60  17.55
5        2138.0  5.804116  4.994311  0.6  1.80  3.00  8.75  23.50
6        2836.0  5.549753  4.888237  0.7  1.80  3.10  8.30  65.80
7        1079.0  4.731696  4.040245  0.9  1.80  2.80  6.30  19.25
8         193.0  5.382902  4.175467  0.8  2.00  4.10  7.60  14.80
9           5.0  4.120000  3.759255  1.6  2.00  2.20  4.20  10.60

In [25]:
df_combined2.groupby("quality").volatile_acidity.describe()

          count      mean       std   min     25%    50%     75%    max
quality
3          30.0  0.517000  0.341913  0.17  0.2525  0.415  0.6325  1.580
4         216.0  0.457963  0.229311  0.11  0.2800  0.380  0.6100  1.130
5        2138.0  0.389614  0.178582  0.10  0.2600  0.330  0.4900  1.330
6        2836.0  0.313863  0.147080  0.08  0.2100  0.270  0.3700  1.040
7        1079.0  0.288800  0.116797  0.08  0.2000  0.270  0.3400  0.915
8         193.0  0.291010  0.119357  0.12  0.2000  0.280  0.3500  0.850
9           5.0  0.298000  0.057619  0.24  0.2600  0.270  0.3600  0.360

In [26]:
df_combined2.groupby("quality").density.describe()

,count,mean,std,min,25%,50%,75%,max
quality,,,,,,,,
3,30.0,0.995744,0.002833,0.99110,0.993750,0.995900,0.998060,1.00080
4,216.0,0.994833,0.002475,0.98920,0.993030,0.994995,0.996655,1.00100
5,2138.0,0.995849,0.002439,0.98722,0.994100,0.996100,0.997600,1.00315
6,2836.0,0.994558,0.003035,0.98758,0.992200,0.994700,0.996740,1.03898
7,1079.0,0.993126,0.003020,0.98711,0.990795,0.992400,0.995195,1.00320
8,193.0,0.992514,0.002880,0.98713,0.990360,0.991890,0.994100,1.00060
9,5.0,0.991460,0.003118,0.98965,0.989800,0.990300,0.990550,0.99700